@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  letter-spacing: 0.2px;
  font-style: normal;
  box-sizing: border-box;
}
#root {
  max-width: 1440px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1em ;
  
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 320px;
  min-height: 100vh;
}


